.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.line-container {
  display: flex;
  height: 10px;
  width: 100%;
  margin-top: 5px;
}

.line-segment {
  height: 100%;
}

.dark-blue {
  background-color:  #0000ff
  ;
}

.light-blue {
  background-color:  #6666ff
  ;
}

more-light-blue {
  background-color:  #8989f4;
}

extra-light-blue {
  background: black;
  border: 1px solid black;
  /* #9999ff; */
}

